---
layout: page
menu: main
permalink: /portfolio/
title: "Portfolio"
navigation_weight: 2
---

<div class="row projects">
    {% assign sorted_projects = (site.portfolio | sort: 'order')  %}
    {% for project in sorted_projects %}
        {% if project.image %}
            <div class="project">

                <div class="project-pic"><a href="{{project.url}}">{% include image.html class="project-image" alt=project.image_description image=project.image  sizes="(min-width: 800px) 400px, 25vw" a='None'%}</a></div>
                <div class="project-text">
                    <a href="{{project.url}}">
                        <h2 class="project-title">{{project.title}}</h2>
                    </a>
                    <div class="project-subtitle">{{project.sub-title}}</div>
                    <div class="project-description">{{project.short-description}}</div>
                </div>
            </div>
            <div class="gap"></div>
        {% endif %}
    {% endfor %}
</div>
<hr>
More projects coming soon. In the meantime, have a look at my <a href="https://github.com/{{ site.github_username }}">github page</a>
