---
layout: default
---

<div class="home">

  The website of Runar Kristoffersen

  This is a work-in-progress website. Currently, it doesn't hold much, but I expect it to hold my portfolio and possibly a few blogposts.

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="relative">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
        {% if post.image %}
          <div class="center">
            {% include image.html alt=post.image_description image=post.image  sizes="(min-width: 800px) 50vw, 100vw"%}</div>
        {% endif %}
        <p>{{ post.excerpt | markdownify }}</p>
      </li>
      <li class="center">
        <a class="post-read-more" href="{{ post.url | relative_url }}">[ Read More ]</a>
      </li>
      <hr>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
